<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IrcServer" value="irc.libera.chat" />
    <add key="IrcPort" value="6667" />
    <add key="IrcChannel" value="##CosmicAlpha-relay" />
    <add key="IrcNickname" value="CosmicAlphaTest" />
    <add key="DiscordBotToken" value="MTA4MjAzMTI4MjQ4NzMwNDI3Mg.G5ILEM.dtcHBVMMpZ5s2K6Yw9wgZYm98LlDCG-esSl03c" />
  </appSettings>
</configuration>
